body{
    background-color: #66be5c;
    color: rgb(0, 0, 0);
    margin: 0px;
}

h1{
    text-align: center;
    margin: 0px;
    width: 100%;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;

}

.imageBlog {
    height: 100%;
    width: 100%;   
}

.imageBorder {
    border: 4px solid #555;
}

#front {
    display: grid;
    align-items: center; 
    grid-template-columns: 3fr 2fr;
    column-gap: 5px;
}

.text1 {
    padding: 3%
}

footer {
    border-top: 1px solid #ccc;
    margin: 0px 10px 0px 10px;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}

.contact {
    text-align: center;
}

table {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
    text-align: center;
}

table, td {
    padding: 8%;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.recent {
    border-style: solid;
    border-width: 5px;
    border-color: #020202;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin: 5%;
    text-align: center;
    background-color: #bbd9ff;
}

.ATBottom{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10%;
}

.topnav {
    overflow: hidden;
    background-color: #ddd;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;

}
  
.topnav #myLinks {
    display: none;
}
  

.topnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  

.topnav a.icon {
    background: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
 
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  

.active {
    background-color: #bbd9ff;
    color: white;
}

a:hover { 
    text-decoration: none; 
    color:#ddd; 
}

a {
    text-decoration: none;
    color: black;
}